src/test/resources/sanity-checks/all_redis.yaml
id: all_redis
namespace: sanitychecks.plugin-redis

tasks:
  - id: init
    type: io.kestra.plugin.core.output.OutputValues
    values:
      randomPort: "{{ randomPort() }}"

  - id: dockerStart
    type: io.kestra.plugin.docker.Run
    containerImage: redis
    portBindings:
      - "{{ outputs.init.values.randomPort }}:6379"
    wait: false

  - id: call_subflows_in_loop
    type: io.kestra.plugin.core.flow.ForEach
    values:
      - increment
      - keys-json
      - keys-string
      - list-json
      - list-string
      - redis-json
    tasks:
      - id: call-subflow-task
        type: io.kestra.plugin.core.flow.Subflow
        namespace: "{{ flow.namespace }}"
        flowId: "{{ taskrun.value }}"
        wait: true
        transmitFailed: true
        inputs:
          cs: "redis://:redis@localhost:{{ outputs.init.values.randomPort }}/0"

finally:
  - id: dockerStop
    type: io.kestra.plugin.docker.Stop
    containerId: "{{ outputs.dockerStart.taskRunner.containerId }}"
