src/test/resources/sanity-checks/keys-string.yaml
id: keys-string
namespace: sanitychecks.plugin-redis

inputs:
  - id: cs
    type: STRING
    defaults: "redis://:redis@localhost:6379/0"

tasks:
  - id: set
    type: io.kestra.plugin.redis.string.Set
    url: "{{ inputs.cs }}"
    key: "key_string_{{ execution.id }}"
    value: "{{ flow.id }}"
    serdeType: STRING

  - id: get
    type: io.kestra.plugin.redis.string.Get
    url: "{{ inputs.cs }}"
    key: "key_string_{{ execution.id }}"
    serdeType: STRING

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "Invalid get data {{ outputs.get }}"
    conditions:
      - "{{ outputs.get.data == flow.id }}"

  - id: delete
    type: io.kestra.plugin.redis.string.Delete
    url: "{{ inputs.cs }}"
    keys:
      - "key_string_{{ execution.id }}"

  - id: getAfterDelete
    type: io.kestra.plugin.redis.string.Get
    url: "{{ inputs.cs }}"
    key: "key_string_{{ execution.id }}"
    serdeType: STRING

  - id: assertAfterDelete
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "Invalid get data {{ outputs.getAfterDelete }}"
    conditions:
      - "{{ (outputs.getAfterDelete contains 'data') == false }}"

  - id: setWithTtl
    type: io.kestra.plugin.redis.string.Set
    url: "{{ inputs.cs }}"
    key: "key_string_ttl_{{ execution.id }}"
    value: "{{ flow.id }}"
    serdeType: STRING
    options:
      expirationDuration: P1D

  - id: getTtl
    type: io.kestra.plugin.redis.string.Ttl
    url: "{{ inputs.cs }}"
    key: "key_string_ttl_{{ execution.id }}"

  - id: assertTtl
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "Invalid get data {{ outputs.getTtl }}"
    conditions:
      - "{{ outputs.getTtl.ttl > 86000 }}"